html,
body {
    margin: 0;
    height: 100%;
    font-family: Work Sans;
    font-size: calc(1px + 2vmin);
}

body {
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid black;
    height: calc(100% - 24px) !important;
    border-radius: 2vmin;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#game {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2vmin;
}

#hud {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

button {
    background-color: #dcdcdc;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 12px;
    transition: background-color 0.2s;
    /* width: 7vmax;
    height: 7vmax; */
}

button:hover {
    background-color: yellow;
}

button:active {
    background-color: orange;
}

#ui {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: row;
    padding: 2vmin;
    gap: 2vmin;
    pointer-events: none;
}

#jira-logo {
    height: 10vmin;
    position: relative;
    align-self: flex-end;
    pointer-events: all;
}

#jira-logo>img {
    height: 100%;
}

.loader {
    border: 2vmin solid #f3f3f3;
    /* Light grey */
    border-top: 2vmin solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 8vmin;
    height: 8vmin;
    animation: spin 2s linear infinite;
}

.hidden {
    display: none !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#task-panel {
    position: relative;
    border-radius: 2vmin;
    background-color: #3131315d;
    color: white;
    width: 80vmin;
    height: 80vmin;
    pointer-events: all;
    padding: 2vmin;
}

#task-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
    width: 100%;
    height: 100%;
    /* font-size: 2em; */
    text-transform: uppercase;
}

.tasks {
    display: grid;
    grid-template-rows: 12vmin calc(100% - 14vmin);
    width: 100%;
    height: 100%;
    position: relative;
    gap: 2vmin;
}

.tasks-bar {
    display: flex;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2vmin;
}

.tasks-bar img {
    height: 10vmin;
    margin: 1vmin;
}

#task-list {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.task {
    display: grid;
    grid-template-columns: 10% 60% calc(30% - 4vmin);
    gap: 2vmin;
    margin: 1vmin 0;
    width: 100%;
}

#no-tasks {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    top: -5px;
    left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

